
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

  :root {
    --fail-color: #D97398;
    --background-color: #A6768C;
    --cards-color: #F2BBD5;
    --button-color: #F2F2F2;
    --fail-backColor: #595959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body{
  color: var(--fail-backColor);

}
.game-container {
  background-color: var(--background-color);
  height: 100vh;
}

.players-container {
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);

}

.player-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cards-color);
  border-radius: 15px;
  padding: 20px;
  width: 30%;
  margin: 1vw;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  height: 80%;
  font-size: 4rem;

}
.player-fail {
background-color: var(--fail-backColor);
color: #D97398 !important;
}

.player-box div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  font-size: 3rem;
}


.left-box {
  margin-right: 10px;
}

.right-box {
  margin-left: 10px;
}

.player-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.player-score {
  font-size: 14px;
  margin-bottom: 10px;
}

.current-score {
  font-size: 14px;
}

.dice-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  flex-direction: column;
  gap: 3rem;
}

.dice {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);

}
.rotate {
  animation: rotate .4.5s ease-in-out  ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.new-game-btn,
.roll-dice-btn,
.hold-btn {
  background-color: var(--button-color);
  color: var(--fail-backColor);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.dices-vertical {
  display: flex;
  ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}


  .score-container{
    flex-direction: row !important;
    align-items: flex-start !important;
    width: 100%;
  }


/* alert  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.alert-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert {
  background-color:rgba(242, 242, 242, .7) ;
  color:black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-container label {
  margin-top: 10px;
  font-weight: bold;
}

.input-container input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#start-game-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--fail-backColor);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;

}

.btn:active{
  width: 110%;
}



/* play again */
#alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

#alert-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:rgba(242, 242, 242, .7) ;
  color: black;
  padding: 20px;
  border-radius: 10px;
}
.history{
  display: flex;;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
  text-align: center;
}

#alert-message {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

#alert-play-again {
  margin-bottom: 1rem;
  background-color: var(--fail-backColor);
  width: 100%;
  color: var(--button-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
#clear-cache{
  background-color: var(--fail-backColor);
  width: 100%;
  color: var(--button-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}
.btn-setting{
  text-align: center;
  margin: 0;padding: 0;
  }
/* setting */
        /* Title styling */
        .sseting{
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 1;
          display: flex;;
          justify-content: center;
          flex-direction: column;      
          align-items: center;; 
          gap :1rem;
         }

        .title {
            text-align: center;
            color: var(--fail-color);
            text-shadow: 1px 1px var(--fail-backColor);
            background-color: #F2F2F2;
            padding: 1rem;
            border-radius: 20px;
        }
        .row-setting{
          display: flex;;
          justify-content: center;

        }
        /* Settings container styling */
        .settings-container {
          width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--cards-color);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 3px 3px var(--fail-backColor);
        }
        .exit-setting{
          align-items: flex-start;
          width: 100%;
          font-size: 2rem;
          
        }
        .exit{
          cursor: pointer;
          color: var(--button-color);
          background-color: var(--fail-backColor);
          padding: .3rem;
          border-radius:3px;
          text-align: center;;
          display: flex;
          justify-content: center;
          width: fit-content;
          align-items: center;;
        }
        /* Setting styling */
        .setting {
            background-color: var(--button-color);
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            text-align: center;
            width: 200px;
            box-shadow: 1px 1px var(--fail-backColor);
        }
        /* Mute button styling */
        .mute-btn {
            background-color: var(--fail-color);
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            text-align: center;
            margin-top: 10px;
        }


        /* setting button */
        .settings-button {
          background-color: var(--fail-backColor);
          border: none;
          color: var(--button-color) !important;
          padding: 1rem;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          font-size: 2rem;
          border-radius: 10px;
        }
        
        .settings-button i {
        }
        
        .fa {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          font-style: 3rem !important;
        }
        

@media (max-width:760px)
 {
  body{
    width: 100vw;
    height: 100vh;
      }
.game-container{
  height: 100vh;
  justify-content: space-between;
}
  .players-container{
    height: 100%;
    display: flex;;
    flex-direction: column;
    padding: 1%;
  }
.dice-container{
  flex-direction: row;
  gap: 0px;
}
.dices-vertical{
    flex-direction: row;
    align-items: center;
    gap: 0px;
    width: 100%;
    height: 100%;
    gap: 0px;
  }
  .dice{
    width: 3rem;
    height: 3rem;
  }
  .player-box{
    flex-direction: row;;
    width: 100%;
    height: 100%;
  
  }

  .overlay {
    width: 100%;
    height: 100vh;
  }
  .alert-container {
    background-color:rgba(242, 242, 242, .7) ;
    color:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  }

